.filteritem{
	margin-top: 5px;
	text-align: center;
	z-index: 10;
}
#storesfilter{
	width: 95%;
	float: right;
	border-radius: 10px;
	background-color: #C6C6C6;
	padding: 20px 20px;
	box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.75);
}
#stores{
	margin-top: 20px;
	min-height: 400px;
	background-color: white;
	padding: 0.1px 5px 5px 5px;
	border-radius:5px;
}
#customlistwrapper{
	min-height: 400px;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: #C6C6C6;
    box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.75);
}
#customlist{
	min-height: 400px;
    border-radius: 5px;
    background-color: white;
    padding: 0.1px;
}
#customlist .filteritem{
	margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
#customlist .filteritem .content{
	padding: .5em 2.5em .1em 1.5em;
}
#customlist .filteritem .content form{
	padding-bottom: 10px;
}
textarea{
	resize:none;
	overflow: hidden;
	min-height: 150px;
}
#customlistmenu{
	float:left
}
#shiftcontroller{
	width:5000px;
}
#customlistdesription{
	float:left;
}
#customlistnextbutton{
	margin: auto;
	display:block;
	width: 30%;
	visibility: hidden;
}
#customlistnextbutton.work{
	visibility: visible;
}
#shiftcontroller{
	transition: margin-left 0.5s;
}
#listdescriptionwrapper{
	width: 110%;
	position: relative;
	border-radius: 10px;
	background-color: #C6C6C6;
	padding: 20px 20px;
	box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.75);
}
#listdescriptionformwrapper{
}
#customlistsubmitbutton{
	margin: auto;
    display: block;
    width: 100px;
}
.addpicbutton{
	height: 40px;
    background-color: #E5E5E5;
    border-radius: 10px;
    line-height: 40px;
    font-size: 18px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    width: 40%;
    margin: auto;
    transition:background-color 0.3s;
}
.addpicbutton:hover{
	background-color: #B5B5B5;
	cursor:pointer;
}
.file_icon{
	flex:1;
}
.file_name{
	flex:7;
}
.upload_pic{
	display: flex;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    margin-top: 10px;
    text-align: center;
}
.upload_pic input{
	display: none;
}
.expandbutton:hover{
	cursor: pointer;
}
.removefilebutton:hover{
	cursor: pointer;
}
.preview{
	max-width: 60%;
	margin: auto;
}
.previewimg{
	max-width:100%;
	margin-bottom: 10px;
}
.preview textarea{
	height:50px;
	min-height: 50px;
}
