#menu{
	position: fixed;
	top:0;
	width: 100%;
	left:0;
	height:74px;
	background: linear-gradient(rgba(44,104,138,1) 0%, rgba(5,91,142,1) 12%, rgba(5,91,142,1) 26%, rgba(11,131,202,1) 100%);
	color:white;
	font-size: 24px;
	font-family: Microsoft JhengHei;
}
#footer{
	width: 100%;
	height:60px;
	background: linear-gradient(rgba(11,111,182,1) 0%, rgba(5,91,142,1) 74%, rgba(5,91,142,1) 88%,rgba(44,104,138,1) 0%);
	color:white;
	font-size: 20px;
	font-family: Microsoft JhengHei;
}
#topmenu{
	float:left;
  	margin-top: 8px;
  	width: 100%;
}
#menulogo{
  	font-size: 28px;
  	font-weight: bold;
  }
#searchbar{
}
#searchbar input{
	float:left;
	width: 80%;
	font-size: 20px;
}
#searchbutton{
	float:left;
	border-radius: 5px;
}
#searchbutton:hover{
	cursor: pointer;
}
#downmenu{
  	margin-top: 15px;
}
#menulogo:hover{
	cursor: pointer;
}
#loginbutton:hover{
	cursor: pointer;
}
#registerbutton:hover{
	cursor: pointer;
}
#homebutton:hover{
	cursor: pointer;
}
#aboutusbutton:hover{
	cursor: pointer;
}
#loginmodal{
	width:400px;
}
#registrationmodal{
	width:400px;
}
#registrationbody{
	height:320px;
}
#loginbody{
	height:280px;
}
#loading1{
	float:right;
	margin-right:12px;
	margin-top:5px;
	width:10px;
	height:25px;
	background-color:#84A8BD;
	border-radius:3px;
}
#loading2{
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:10px;
	height:25px;
	background-color:#84A8BD;
	border-radius:3px;
}
#loading3{
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:10px;
	height:25px;
	background-color:#84A8BD;
	border-radius:3px;
}
#loading4{
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:10px;
	height:25px;
	background-color:#84A8BD;
	border-radius:3px;
}
#loading5{
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:10px;
	height:25px;
	background-color:#84A8BD;
	border-radius:3px;
}
#mainscreen{
	width:100%;
}
#loginmenu{
	line-height: 100%;
	text-align: center;
}
#menucontroller{
	padding-left: 3rem;
}
@media screen and (min-width: 861px) {
	#loginmenu{
        display: inline-block;
    }
    #searchbar{
    	width:75%;
    }
    #menulogo{
    	display: inline-block;
    }
    #menucontroller{
    	display:none;
    }
}
@media screen and (min-width: 471px) and (max-width: 860px) {
    #loginmenu{
        display: none;
    }
    #searchbar{
    	width:75%!important;
    }
    #menulogo{
    	display:none;
    }
    #menucontroller{
    	display: inline-block;
    }
}
@media screen and (max-width: 470px) {
    #searchbar{
    	width:75%!important;
    }
    #loginmenu{
        display: none;
    }
    #menulogo{
    	display:none;
    }
    #menucontroller{
    	display: inline-block;
    	padding-left: 2rem;
    }
    #searchbar input {
    	font-size: 15px;
    }
    #loginmodal{
    	width: 300px
    }
    #registrationmodal{
    	width: 300px
    }
}
.itemfont{
	font-size: 2rem!important;
}