{% load staticfiles %}

<html>
<head>
<title>吃~吃~~吃首頁</title>
<style type="text/css">
body{font-size:40pt;
     font-color:black;
     font-family:標楷體;
     text-align:center;}
</style>
</head>
<body>


<div class="ui three column divided grid">
 <div class="stretched row">
    <div class="column">
      <div class="ui segment">
       <img src="{% static '特色餐點.jpg' %}"width="450" height="300">
      </div>
      <div class="ui segment">
        <img src="{% static '正餐.jpg' %}"width="450" height="300">
      </div>
    </div>
    <div class="column">
      <div class="ui segment" >
       <img src="{% static 'logo.gif' %}" width="640" height="360" >
       <h6>
       <strong>
       歡迎來到~~大家的美食地圖~~
       </strong>
       </h6>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img src="{% static '小吃1.jpg' %}"width="450" height="300">
      </div>
      <div class="ui segment">
        <img src="{% static '小吃2.jpg' %}"width="450" height="300">
      </div>
    </div>
 </div>
</div>

</body>
</html>