{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'search.css' %}"/>
	<script src="{% static 'search.js' %}"></script>
</head>
<body>
	<div class="ui equal width stackable grid">
		<div class="row" style="margin-top:20px;">
			<div class="column">
				<h1 style="text-align:center">
					以下為符合標籤的搜尋結果
				</h1>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="eight wide column">
				<h2 style="text-align:center">店家讚數排行榜</h2>
				<div id="storelist" class="ui styled accordion" style="margin:auto;width:85%;margin-top:20px">
					  <div class="content" style="padding:0;height:42px">
					  	<div style="width:10%;text-align:center;line-height:42px;float:left">
					   		排行
					   	</div>
					   	<div style="width:50%;text-align:center;line-height:42px;float:left">
					   		店家名稱
					   	</div>
					   	<div style="width:20%;text-align:center;line-height:42px;float:right">
					   		差評
					   	</div>
					   	<div style="width:20%;text-align:center;line-height:42px;float:right">
					   		讚數
					   	</div>
					  </div>
					  
				</div>
			</div>
			<div class="ui vertical divider">
			    eat
			</div>
			<div class="eight wide column">
				<h2 style="text-align:center">店家清單讚數排行榜</h2>
				<div class="ui styled accordion" style="margin:auto;width:85%;margin-top:20px">
					  <div class="content" style="padding:0;height:42px">
					  	<div style="width:10%;text-align:center;line-height:42px;float:left">
					   		排行
					   	</div>
					   	<div style="width:50%;text-align:center;line-height:42px;float:left">
					   		店家清單名稱
					   	</div>
					   	<div style="width:20%;text-align:center;line-height:42px;float:right">
					   		差評
					   	</div>
					   	<div style="width:20%;text-align:center;line-height:42px;float:right">
					   		讚數
					   	</div>
					  </div>
					  <div class="title" style="padding:0;height:42px">
					  	<div style="width:10%;text-align:center;line-height:42px;float:left">
					    	1
					    </div>
					    <div style="width:50%;text-align:center;line-height:42px;float:left">
					    	辣爆你全家
					    </div>
					    <div class="bad" style="width:20%;text-align:center;line-height:42px;float:right">
					   		2
					   	</div>
					   	<div class="good" style="width:20%;text-align:center;line-height:42px;float:right">
					   		300
					   	</div>
					  </div>
					  <div class="content" style="padding:0;padding-left:8px;padding-right:8px;">
					    <div class="accordion">
						  <div class="title">
						    老先覺
						  </div>
						  <div class="content">
						    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</a>
						    	<p style="text-align:right">.....<a href="#">店家完整資訊</a></p>
						  </div>
						  <div class="title">	
						    麻辣風暴北門店
						  </div>
						  <div class="content">
						    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
						    <p style="text-align:right">.....<a href="#">店家完整資訊</a></p>
						  </div>
						  <div class="title">
						    是吉祥火鍋
						  </div>
						  <div class="content">
						    <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
						    <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
						    <p style="text-align:right">.....<a href="#">店家完整資訊</a></p>
						  </div>
						</div>
						<p style="text-align:right;line-height:30px;">.....<a href="#">清單完整資訊</a></p>
					  </div>
					  <div class="title" style="padding:0;height:42px">
					  	<div style="width:10%;text-align:center;line-height:42px;float:left">
					    	2
					    </div>
					    <div style="width:50%;text-align:center;line-height:42px;float:left">
					    	台南旅遊必吃
					    </div>
					    <div class="bad" style="width:20%;text-align:center;line-height:42px;float:right">
					   		5
					   	</div>
					   	<div class="good" style="width:20%;text-align:center;line-height:42px;float:right">
					   		200
					   	</div>
					  </div>
					  <div class="content">
					    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
					  </div>
					  <div class="title" style="padding:0;height:42px">
					  	<div style="width:10%;text-align:center;line-height:42px;float:left">
					    	3
					    </div>
					    <div style="width:50%;text-align:center;line-height:42px;float:left">
					    	安平周邊美食
					    </div>
					    <div class="bad" style="width:20%;text-align:center;line-height:42px;float:right">
					   		7
					   	</div>
					   	<div class="good" style="width:20%;text-align:center;line-height:42px;float:right">
					   		150
					   	</div>
					  </div>
					  <div class="content">
					    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
					  </div>
					</div>
			</div>
		</div>
	</div>
</body>
</html>