{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'searchstore.css' %}"/>
	<script src="{% static 'searchstore.js' %}"></script>
</head>
<body>
	<div class="ui equal width stackable grid">
		<div class="column">
			<div class="ui card" style="margin:auto;width:90%">
			  <div class="content">
			    <div class="header">南園街鍋貼</div>
			    <div class="meta">台南</div>
			    <div class="description">
			      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
			      <p>Many people also have their own barometers for what makes a cute dog.</p>
			    </div>
			  </div>
			  <div class="extra content">
			  	<div class="likebutton">
				    <span class="left floated like">
				      &#10084;
				      300 喜歡
				    </span>
				</div>
				<div class="dislikebutton">
				    <span class="right floated star">
				      &#128148;
				      5 不喜歡
				    </span>
				</div>
			  </div>
			</div>
		</div>
		<div class="column">
			<div class="ui card" style="width:95%">
			  <div class="content">
					<div class="ui comments">
					  <div class="comment">
					    <div class="content">
					      <a class="author">閃電俠</a>
					      <div class="metadata">
					        <div class="date">2 days ago</div>
					      </div>
					      <div class="text" style="margin: 0.5em 0 0.5em;">
					        我好快
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="extra content">
					<div class="dislikebutton">
					    <span class="right floated star" style="width:80px;text-align:center">
					      &#128148;
					      不喜歡
					    </span>
					</div>
				  	<div class="likebutton">
					    <span class="right floated like">
					      &#10084;
					      喜歡
					    </span>
					</div>
			  </div>
			</div>
			<div class="ui card" style="width:95%">
			  <div class="content">
					<div class="ui comments">
					  <div class="comment">
					    <div class="content">
					      <a class="author">Stevie Feliciano</a>
					      <div class="metadata">
					        <div class="date">2 days ago</div>
					      </div>
					      <div class="text" style="margin: 0.5em 0 0.5em;">
					        Hey guys, I hope this example comment is helping you read this documentation.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="extra content">
					<div class="dislikebutton">
					    <span class="right floated star" style="width:80px;text-align:center">
					      &#128148;
					      不喜歡
					    </span>
					</div>
				  	<div class="likebutton">
					    <span class="right floated like">
					      &#10084;
					      喜歡
					    </span>
					</div>
			  </div>
			</div>
			<div class="ui card" style="width:95%">
			  <div class="content">
					<div class="ui comments">
					  <div class="comment">
					    <div class="content">
					      <a class="author">Stevie Feliciano</a>
					      <div class="metadata">
					        <div class="date">2 days ago</div>
					      </div>
					      <div class="text" style="margin: 0.5em 0 0.5em;">
					        Hey guys, I hope this example comment is helping you read this documentation.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="extra content">
					<div class="dislikebutton">
					    <span class="right floated star" style="width:80px;text-align:center">
					      &#128148;
					      不喜歡
					    </span>
					</div>
				  	<div class="likebutton">
					    <span class="right floated like">
					      &#10084;
					      喜歡
					    </span>
					</div>
			  </div>
			</div>
			<div class="ui card" style="width:95%">
			  <div class="content">
					<div class="ui comments">
					  <div class="comment">
					    <div class="content">
					      <a class="author">Stevie Feliciano</a>
					      <div class="metadata">
					        <div class="date">2 days ago</div>
					      </div>
					      <div class="text" style="margin: 0.5em 0 0.5em;">
					        Hey guys, I hope this example comment is helping you read this documentation.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="extra content">
					<div class="dislikebutton">
					    <span class="right floated star" style="width:80px;text-align:center">
					      &#128148;
					      不喜歡
					    </span>
					</div>
				  	<div class="likebutton">
					    <span class="right floated like">
					      &#10084;
					      喜歡
					    </span>
					</div>
			  </div>
			</div>
			<div class="ui card" style="width:95%">
			  <div class="content">
					<div class="ui comments">
					  <div class="comment">
					    <div class="content">
					      <a class="author">Stevie Feliciano</a>
					      <div class="metadata">
					        <div class="date">2 days ago</div>
					      </div>
					      <div class="text" style="margin: 0.5em 0 0.5em;">
					        Hey guys, I hope this example comment is helping you read this documentation.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="extra content">
					<div class="dislikebutton">
					    <span class="right floated star" style="width:80px;text-align:center">
					      &#128148;
					      不喜歡
					    </span>
					</div>
				  	<div class="likebutton">
					    <span class="right floated like">
					      &#10084;
					      喜歡
					    </span>
					</div>
			  </div>
			</div>
			<div class="ui card" style="width:95%">
			  <div class="content">
					<div class="ui comments">
					  <div class="comment">
					    <div class="content">
					      <a class="author">Stevie Feliciano</a>
					      <div class="metadata">
					        <div class="date">2 days ago</div>
					      </div>
					      <div class="text" style="margin: 0.5em 0 0.5em;">
					        Hey guys, I hope this example comment is helping you read this documentation.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="extra content">
					<div class="dislikebutton">
					    <span class="right floated star" style="width:80px;text-align:center">
					      &#128148;
					      不喜歡
					    </span>
					</div>
				  	<div class="likebutton">
					    <span class="right floated like">
					      &#10084;
					      喜歡
					    </span>
					</div>
			  </div>
			</div>
			<div class="ui card" style="width:95%">
			  <div class="content">
					<div class="ui comments">
					  <div class="comment">
					    <div class="content">
					      <a class="author">Stevie Feliciano</a>
					      <div class="metadata">
					        <div class="date">2 days ago</div>
					      </div>
					      <div class="text" style="margin: 0.5em 0 0.5em;">
					        Hey guys, I hope this example comment is helping you read this documentation.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="extra content">
					<div class="dislikebutton">
					    <span class="right floated star" style="width:80px;text-align:center">
					      &#128148;
					      不喜歡
					    </span>
					</div>
				  	<div class="likebutton">
					    <span class="right floated like">
					      &#10084;
					      喜歡
					    </span>
					</div>
			  </div>
			</div>
			<div class="ui card" style="width:95%">
			  <div class="content">
					<div class="ui comments">
					  <div class="comment">
					    <div class="content">
					      <a class="author">Stevie Feliciano</a>
					      <div class="metadata">
					        <div class="date">2 days ago</div>
					      </div>
					      <div class="text" style="margin: 0.5em 0 0.5em;">
					        Hey guys, I hope this example comment is helping you read this documentation.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="extra content">
					<div class="dislikebutton">
					    <span class="right floated star" style="width:80px;text-align:center">
					      &#128148;
					      不喜歡
					    </span>
					</div>
				  	<div class="likebutton">
					    <span class="right floated like">
					      &#10084;
					      喜歡
					    </span>
					</div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>