{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'searchstore.css' %}"/>
	<script src="{% static 'searchstore.js' %}"></script>
</head>
<body>
	<div class="ui equal width stackable grid">
		<div class="column">
			<div class="ui card" style="margin:auto;width:90%">
			  <div class="content">
			  	{% if store.has_fans_page %}<a href="{{ store.fanspage }}" target="_blank"> <i class="facebook icon" style="float:right"></i> </a>{% else %} {% endif %}
			    <div class="header" style="float:left;width:51%">{{ store.name }}</div>
			    <div class="meta" style="float:left;width:51%">{{ store.location }}</div>
			    <div class="description">
			      {{ store.description }}
			    </div>
			  </div>
			  <div class="extra content">
			  	<div class="likebutton">
				    <span class="left floated like">
				      &#10084;
				      {{ store.good }} 喜歡
				    </span>
				</div>
				<div class="dislikebutton">
				    <span class="right floated star">
				      &#128148;
				      {{ store.bad }} 不喜歡
				    </span>
				</div>
			  </div>
			</div>
		</div>
		<div class="column">
			{% for comment in comments %}
				<div class="ui card" style="width:95%">
				  <div class="content">
						<div class="ui comments">
						  <div class="comment">
						    <div class="content">
						      <a class="author">{{ comment.membername }}</a>
						      <div class="metadata">
						        <div class="date">{{ comment.fromcreatetime }}</div>
						      </div>
						      <div class="text" style="margin: 0.5em 0 0.5em;">
						        {{ comment.description }}
						      </div>
						    </div>
						  </div>
						</div>
					</div>
					<div class="extra content">
						<div class="dislikebutton">
						    <span class="right floated star" style="width:80px;text-align:center">
						      &#128148;
						      {{ comment.bad }} 不喜歡
						    </span>
						</div>
					  	<div class="likebutton">
						    <span class="right floated like">
						      &#10084;
						      {{ comment.good }} 喜歡
						    </span>
						</div>
				  </div>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>